#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar-title {
  width: 100%;
  height: 36px;
  padding: 2px 2px 2px 2px;
  background-color: rgba(20, 72, 94, 0.99);
  box-sizing: border-box;
  border-bottom: 6px solid rgba(29, 102, 134, 0.99);
  font-family: "Raleway Medium", "Raleway", sans-serif;
  font-size: 7px;
  color: #ffffff;
  text-align: center;
}
.navbar {
  background-color: rgba(29, 102, 134, 0.99);
  width: 100%;
  height: 35px;
  display: flex;
  padding: 0;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /*padding: 2em;*/
  background-color: rgba(20, 72, 94, 0.99);
  box-sizing: border-box;
  color: #ffffff;
  padding: 2px 2px 2px 2px;
  font-size: 100%;
  width: 59%;
  margin: 0 auto;
}
/*rgba(29, 102, 134, 0.99)*/
.card p{
  background-color: rgba(29, 102, 134, 0.99);
  color: #ffffff;
}


.read-the-docs {
  color: #888;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 102, 134, 0.99);
}

.list {
  margin: 0 10px;
  text-align: center;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list ul li {
  margin: 5px 0;
  color: #ffffff;
}

.list h2 {
  color: #ffffff;
  font-size: 100%;
}

