Code/cache/Annual_heat_demand_LSOA_EnglandWales.csv.cache
Code/cache/lsoa.geojson.cache
Code/cache/Quantification_of_inherent_flexibility.csv.cache
Code/cache/Residential_heat_demand_LSOA_Scotland.csv.cache
