/*/* Registration.css */

.form-group-register {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 60px;
    width: 700px;
    /*display: flex;*/
    /*align-items: center;*/
}

.register-form h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.password-toggle {
    cursor: pointer;
    color: #15495f;
}

.form-group-register label {
    display: inline-block;
    text-align: center;
    background-color: #15495f;
    border: solid #15495f;
    border-radius: 0;
    color: white;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%; /* Adjust the width for label */
    height: 83px;
    vertical-align: top;
}

.form-group-register input {
    width: 100%; /* Adjust the width for input */
    padding: 10px;
    border: 1px solid #15495f;
    border-radius: 0;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 5px;
    vertical-align: top;
}

.btn.register-btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #15495f;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
}

.btn.register-btn:hover {
    background-color: #0f3a4d;
}

/* Media Query for larger screens */
@media screen and (min-width: 600px) {
    .form-group-register {
        grid-template-columns: 3fr 7fr; /* 30% for label, 70% for input */
    }
}
