.admin-container-profile-group{
    margin: 1vh;
    background-color: rgba(20, 72, 94, 0.99);
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    flex-basis: calc(33.33% - 2vh); 
    flex-shrink: 1; /* You may or may not need this, depending on your layout */
}


.admin-container-profile-text{
    color: white;
    word-wrap: break-word;
}

.admin-container-profile-header{
    color: white;
}

.admin-container-profile{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}