.admin-container-profile-group{
    margin: 1vh;
    background-color: rgba(20, 72, 94, 0.99);
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    flex-basis: calc(33.33% - 2vh); 
    flex-shrink: 1; 
    width: -webkit-fill-available;
}


.admin-container-profile-text{
    color: white;
    word-wrap: break-word;
}

.admin-container-profile-header{
    color: white;
}

.admin-container-profile{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}

.logoutGroup{
  background-color: white;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #15495f;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    border: 1px solid #0056b3;
}

.button-link:hover, .button-link:focus {
    background-color: white;
    color: #15495f;
    text-decoration: none;
}